.LaboratoryChrome__header {
  justify-content: space-between;
}

.LaboratoryChrome__siteNavBack {
  border-top: 1px solid;
  border-bottom: 1px solid ;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: transparent;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
//div span.so-logo a div#aa{
//
//}
.so-logo__main,
a.so-logo__main {
  color: rgba(255,140,33,98);
}

.s-buttonList .s-button:last-child {
  margin-right: 0.3333em;
}
